.skills {
	// background-color: orange;
	.skills_container {
		grid-template-columns: repeat(2, 500px);
		column-gap: 3rem;
		justify-content: center;
		padding: 2rem 1rem;

		.skills_content {
			display: grid;
			// background-color: red;
			border: 1px solid rgba(0, 0, 0, 0.1);
			padding: 2rem 2rem;
			width: 100%;
			// height: max-content;
			border-radius: 1.25rem;
			// background-color: orangered;
			grid-template-rows: 10% 5% 85%;
			// background-color: rgb(98, 98, 95);
			height: 310px;

			// row-gap: 5%;
			.skills_title {
				font-size: var(--normal-font-size);

				font-weight: 600;
				text-align: center;
				margin-bottom: var(--mb-1-5);
				//  background-color: rgb(251, 242, 242);
				height: 30px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 15px 15px 0 0;
				// color: whitesmoke;
			}
			.div {
				width: 80px;
				height: 20px;
				//  background-color: blue;
				margin: auto;
				border-left: 3px solid var(--content);
				border-right: 3px solid var(--content);
			}

			.skills_group {
				border-radius: 0 0 15px 15px;

				grid-template-columns: repeat(3, 1fr);
				display: grid;
				// align-items: flex-start;

				height: 100%;
				padding-bottom: 1.7rem;
				// background-color: red;
				.skills_data {
					div {
						display: flex;
						flex-direction: column;
						align-items: center;
						padding: 1rem 0.5rem;

						img {
							width: 45px;
							height: 45px;
							border-radius: 50%;
							object-fit: cover;
						}

						.skills_name {
							margin-top: 0.51rem;
							font-size: 14px;
							font-weight: 100;
							line-height: 16px;
						}
					}
				}
			}
		}
	}
}

// MEDIA QUERIES ==============================================>
/* For large devices */

@media screen and (max-width: 1024px) {
	.skills {
		.skills_container {
			grid-template-columns: repeat(2, 430px);

			row-gap: 1rem;
			// .skills_content {
			// 	// background-color: aqua;
			// }
		}
	}
}
@media screen and (max-width: 992px) {
	.skills {
		.skills_container {
			grid-template-columns: 380px;
			row-gap: 2rem;
		}
	}
}

/* For medium devices */
@media screen and (max-width: 576px) {
	.skills {
		.skills_container {
			grid-template-columns: 1fr;

			.skills_content {
				padding: 1.5rem;
			}
		}
	}
}

/* For small devices */
@media screen and (max-width: 350px) {
	.skills {
		.skills_container {
			//background-color: yellowgreen;
			.skills_content {
				//background-color: orangered;
				width: 100%;
				.skills_title {
					width: 100%;
				}
				.skills_group {
					.skills_data {
						div {
							img {
								width: 55px;
								height: 55px;
							}

							.skills_name {
								font-size: var(--small-font-size);
								width: 100%;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
}
