.about {
	height: max-content;
	.about_container {
		grid-template-columns: repeat(2, 1fr);
		// align-items: center;
      
		column-gap: 4rem;
		height: 90%;
		padding: 2rem 1rem;
		.about_img {
			width: 350px;
			border-radius: 1.5rem;
			justify-self: center;
		}
		.about_data {
			.about_info {
				grid-template-columns: repeat(2, 150px);
				gap: 1rem;
				margin-bottom: var(--mb-2);
				.about_box {
					// background-color: var(--container-color);
					border: 1px solid gray;
					border-radius: 0.75rem;
					text-align: center;
					padding: 1rem 1.25rem;
					.about_icon {
						font-size: 1.5rem;
						color: var(--title-color);
						margin-bottom: var(--mb-0-5);
					}
					.about_title {
						font-size: var(--small-font-size);
						font-weight: var(--font-medium);
					}
					.about_subtitle {
						font-size: var(--tiny-font-size);
					}
				}
			}
			.about_desc {
				padding: 0 4rem 0 0;
				margin-bottom: var(--mb-2-5);
			}
		}
	}
}

// MEDIA QUERIES ==============================================>
/* For large devices */
@media screen and (max-width: 992px) {
	.about {
		.about_container {
			padding: 1rem 0.5rem;

			grid-template-columns: 1fr;
			row-gap: 2.5rem;
			.about_img {
				width: 250px;
			}
			.about_data {
				text-align: center;
				.about_info {
					justify-content: center;
					.about_box {
						padding: 0.75rem 0.5rem;
					}
				}
				.about_desc {
					padding: 0 5rem;
					margin-bottom: 2rem;
				}
			}
		}
	}
}

/* For medium devices */
@media screen and (max-width: 576px) {
	.about {

		.about_container {
          
            
			.about_data {
                
				.about_info {
					grid-template-columns: repeat(2, 150px);
				}
				.about_desc {
					padding: 0;
				}
			}
		}
	}
}

/* For small devices */
@media screen and (max-width: 350px) {
	.about {
        height: 100%;
        
		.about_container {
            padding-bottom: 0.51rem ;
            padding-top: 0.51rem ;
           
			.about_data {
				.about_info {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}
	}
}
