.contact {
	height: max-content;
	padding-bottom: 1.5rem;

	.contact_container {
		display: grid;
		grid-template-columns: 35% 50%;
		gap: 15%;
		align-items: center;
		justify-content: center;
		.contact_options {
			display: flex;
			flex-direction: column;
			gap: 1.2rem;
			align-items: center;
			height: 100%;
			padding: 1rem 0;
			.contact_option {
				flex-direction: column;
				padding-top: 0.5rem;
				width: 18rem;
				height: 9rem;
				border-radius: 1.2rem;
				text-align: center;
				border: 1px solid rgb(243, 238, 238);
				.option-icon {
					font-size: 1.5rem;
					margin-bottom: 0.5rem;
				}

				a {
					display: inline-block;
					font-size: 0.8rem;
				}
				.option-social,
				.option-name,
				.option-link {
					padding-bottom: 8px;
				}
				.option-link {
					color: greenyellow;
				}
			}
		}
	}
	.contact_form {
		gap: 1.2rem;
		width: 100%;
		justify-content: center;
		height: 85%;
		display: flex;
		flex-direction: column;
		align-items: center;
		form {
			display: flex;
			flex-direction: column;
			gap: 1.2rem;
			align-items: center;
			width: 80%;
			input,
			textarea {
				width: 100%;
				padding: 1rem 1.5rem;
				border-radius: 0.5rem;
				border: 2px solid rgb(31, 31, 70);
				resize: none;
				color: rgb(241, 229, 229);
			}
			button {
				margin: auto;
				font-size: 15px;
				min-width: max-content;
			}
		}
	}
}

// MEDIA QUERIES ==============================================>
/* For large devices */
@media screen and (max-width: 992px) {
	.contact {
		.contact_container {
			justify-items: center;
			align-items: center;
			gap: 10%;
			.contact_options {
				.contact__option {
					width: 19rem;
				}
			}
		}
	}
}

/* For medium devices */
@media screen and (max-width: 576px) {
	.contact {
		padding-top: 2.5rem;
		.contact_container {
			gap: 1rem;
			grid-template-columns: 1fr;
			padding: 0rem 0.01px;
			width: 100%;
			.contact_options {
				width: 80%;
			}
			.contact_form {
				width: 80%;
				padding: 1rem 0;
				height: 100%;
				form {
					width: 100%;
					input,
					textarea {
						width: 75%;
					}
				}
			}
		}
	}
}

/* For small devices */
@media screen and (max-width: 350px) {
	.contact {
		.contact_container {
			.contact_options {
				width: 100%;
				.contact__option {
					width: 16rem;
				}
			}
			.contact_form {
				width: 100%;
			}
		}
	}
}
