:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
		to right,
		hsl(187, 85%, 43%),
		hsl(199, 100%, 33%)
	);
  --whiteColor: hsl(0, 8%, 100%);
  --blackColor: hsl(281, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(255, 255, 235);
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--btnDark);
  -webkit-box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
          box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
  width: 100%;
  padding: 1rem;
  z-index: 1000;
}

.header .logoDiv {
  background-color: yellow;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .logoDiv .logo h1 {
  font-size: 30px;
  background-color: red;
}

.header .mobileTheme {
  display: none;
}

.header .langSmall {
  display: none;
}

.header .language {
  width: 300px;
  position: absolute;
  height: 150px;
  background-color: var(--btnDark);
  right: 1rem;
  top: -500rem;
  border-radius: 0.41rem;
  padding: 1rem;
  z-index: 2000;
  -webkit-box-shadow: 0 2px 4px rgba(2, 15, 29, 0.984);
          box-shadow: 0 2px 4px rgba(2, 15, 29, 0.984);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header .language .langLists {
  width: 100%;
  height: 100%;
  padding: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .language .langLists .icon {
  font-size: 16px;
}

.header .language .closeLang {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.header .language .closeLang .icon {
  color: whitesmoke;
  font-size: 22px;
}

.header .activeLanguage {
  top: 4.5rem;
}

.header .setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .setting .labTheme {
  width: 100px;
}

.header .setting .labTheme .icon {
  font-size: 20px;
}

.header .setting .languageBtn .icon {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .header .navBar {
    position: absolute;
    background-color: var(--btnDark);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: -506rem;
    left: 50%;
    padding: 1rem;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    z-index: 2000;
    -webkit-box-shadow: 0 2px 4px rgba(2, 15, 29, 0.984);
            box-shadow: 0 2px 4px rgba(2, 15, 29, 0.984);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .header .navBar .navLists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem {
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem .navLink {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .header .navBar .langSmall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .header .navBar .closeNavbar .icon {
    color: whitesmoke;
  }
  .header .setting {
    display: none;
  }
  .header .mobileTheme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .mobileTheme .icon {
    font-size: 20px;
  }
  .header .setting {
    display: none;
  }
  .header .language,
  .header .languageBtn {
    display: none;
  }
  .header .activeNavbar {
    top: 7rem;
  }
}

.header .toggleNavbar .icon {
  font-size: 25px;
  color: white;
}

@media screen and (min-width: 769px) {
  .toggleNavbar,
  .closeNavbar,
  .langSmall {
    display: none;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  .header .navLists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .navLists .navItem .navLink {
    padding: 0 0.45rem;
    font-size: 0.9em;
    font-weight: 500;
  }
  .header .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
}

@media screen and (min-width: 960px) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}

@media screen and (min-width: 1240px) {
  .header {
    padding: 1rem 8.5rem;
  }
}
/*# sourceMappingURL=navbar.css.map */