.footer {
	background-color: whitesmoke;
	height: max-content;
	padding-top: 2rem;
	padding-bottom: 1rem;

	.footer_container {
		display: flex;
		height: 60px;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		.footer_title {
			margin-bottom: 15px;
			a {
				font-size: 18px;
				font-weight: 700;
			}
		}
		.footer_links {
			width: 20%;
			display: flex;
			justify-content: space-around;
			.icon {
				font-size: 19px;
			}
		}
	}
}
// MEDIA QUERIES ==============================================>
/* For large devices */
@media screen and (max-width: 992px) {
	.footer {
		.footer_container {
			height: 75px;
			.footer_title {
				a {
					padding-bottom: 10px;
				}
			}
			.footer_links {
				width: 35%;
			}
		}
	}
}

/* For medium devices */
@media screen and (max-width: 576px) {
	.footer {
		.footer_container {
			height: 80px;
			.footer_links {
				width: 40%;
				.icon {
					font-size: 17px;
				}
			}
		}
	}
}
/* For small devices */
@media screen and (max-width: 350px) {
	.footer {
		.footer_container {
			.footer_links {
				width: 35%;
				.icon {
					font-size: 16px;
				}
			}
		}
	}
}
